.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction > h1 {
  flex: 1;
  font-size: 5vw;
  color: white; /* Fallback: assume this color ON TOP of image */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
