.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introductionCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introductionCenter > h1 {
    font-size: 5vw;
    color: white; /* Fallback: assume this color ON TOP of image */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("https://images.pexels.com/photos/236171/pexels-photo-236171.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
  }

.introductionCenter > p {
  font-size: 24px;
  font-weight: 300;
  margin: 20px;
}

.introduction >.MuiSvgIcon-root {
  font-size: 5vw;
  color: #0d4324;
  padding-top: 150px;
}
