.about {
  height: 100vh;
  background:linear-gradient(
    rgba(168, 109, 109, 0.2),
    rgba(255, 255, 255, 0.2)
  ), url("https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
