.menu {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  /* transform: translateX(100%); */
}

.deactive{
    display: none;
}

.menu >img{
    position: absolute;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    opacity: 0.4;
}

.menuList {
  list-style: none;
  z-index: 100;
}

.menuListItem{
    padding: 10px;
    cursor: pointer;
}

.menuListItem:hover{
    transform: scale(1.1);
    color: gray;
}
